.badge{
  padding: 6px 11px;
  border-radius: 10px;
  color:var(--txt-white);
  box-shadow: var(--box-shadow);
}

.badge--primary{
  background-color: var(--main-color-blue)
}

.badge--warning{
  background-color: var(--main-color-orange)
}

.badge--success{
  background-color: var(--main-color-green)
}

.badge--danger{
  background-color: var(--main-color-red)
}

