.navbar {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.navabr__search {
  position: relative;
  box-sizing: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--main-bg);
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
}

.navabr__search > input {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 10px 60px 10px 20px;
  font-size: 1rem;
  color:var(--txt-color);
}

.navabr__search > i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}

.navbar__right{
  display: flex;
  align-items: center;
}
.navbar__right__item ~ .navbar__right__item{
  margin-left: 30px;
}

.navbar__right__user{
  display: flex;
  align-items: center;

}

.navbar__right__user__img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.navbar__right__user__img > img{
  height: 100%;
  width: 100%;
}

.navbar__right__user__name{
  font-weight: 600;
  font-size: 1rem;
}